<div class="container mt-2">
  <ng-container *ngIf="!viewModel">
    <p>Loading</p>
  </ng-container>
  <table *ngIf="viewModel"
         class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Equipo</th>
        <th scope="col">Puntos</th>
        <th scope="col">Tantos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of viewModel.teams; let i = index;">
        <th scope="row">{{i}}</th>
        <td>{{team.name}}</td>
        <td>{{team.points}}</td>
        <td>{{team.score}}</td>
      </tr>      
    </tbody>
  </table>
</div>
