

<div class="jumbotron">
  <h1 class="display-4">Bienvenido a Football Tournament</h1>
  <p class="lead">Aqui podra hacer sus consultas sobre el Torneo.</p>

</div>


<!--<div class="container mt-5">
  <h1> Lista de Queries</h1>
  <ul>
    <li type="button" class="btn btn-primary m-1 d-block" href="#" [routerLink]="['/games']">Partidos</li>
    <li type="button" class="btn btn-primary m-1 d-block" href="#" [routerLink]="['/ranking']">Tabla Posiciones</li>
    <li type="button" class="btn btn-primary m-1 d-block" href="#" [routerLink]="['/players']">Estadisticas Jugadores</li>
    <li type="button" class="btn btn-primary m-1 d-block" href="#" [routerLink]="['/penalties']">Estadisticas Sanciones</li>
  </ul>
</div>-->
